
*.json
*.zip
*.exe
*.txt
*.yaml
*.log

web/*
beatmaps/*
log/*

osuFastCashedBeatmapMirror

*.bak
nerinyan-download-apiv1
nerinyan-download-apiv1-MULTI
/nerinyan-download-apiv1.7z
.idea/*
/.idea/*
/_script/beatmapMirror.sql
/nerinyan-download-apiv1_ARM64

/_testDGO/

.config.json.swp
